@import "./mixins";
.btn {
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    color:$primary-color;
    background: white;
    padding: 0.5rem 1.2rem;
    border-radius: 0 0.5rem   0.5rem 0;
    cursor: pointer;
    border: 1px solid $fifth-color;
    transition: $transition;
}

.btn:hover {
    background: white;
    color: $fifth-color;
    border-color: transparent;

}

.btn-primary {
    background: $third-color;
    color: white;
    font-size: 1.2rem;

    border: 1px solid white;
}
@keyframes filters {
    0% {
      filter: brightness(100%) saturate(100%);
    }
    50% { filter: brightness(80%) saturate(150%);}
    100% {
      filter: brightness(50%) saturate(190%); /* Changer les valeurs de filtre selon vos préférences */
    }
  }