$primary-color:hsl(37, 48%, 5%);
$secondary-color: #132442;
$third-color: #3f60a5;
$forth-color:#bdf7f9;
$fifth-color:#76a6fd;
$card-color:hsla(229, 86%, 11%, 0.959);
$fifth-color-variant:rgba(118, 166, 253, 0.6);

$error-color:red;
$fields_bg-color:rgb(255, 255, 255);
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;
$transition: all 400ms ease;