@import "../../styles/main";
.title {
  @include title__h1;
}
.todo {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    height: max-content;
    max-height: 70vh;
    width: 60vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    animation: todoListAnim 1s ease 0s 1 normal forwards;
    z-index: 1000;
    & .todo__tasks {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 100%;
       
      }
  }
  
 
  &_text {
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 300;
  }
  &_initial__message {
    display: inline;
    font-size: 1.1rem;
    text-align: center;
    color: rgba($color: #000000, $alpha: 0.6);
    margin-top: 2rem;
  }
  &__options {
   margin:0.6rem auto ;
    display: grid;
    grid-template-columns: auto 2fr;
    gap: 1rem;
    align-items: center;
  }
}
.one__task {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 2rem;
  padding: 0.4rem;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid $primary-color;
  background: $secondary-color;
  font-size: 1rem;
  @include shadows;
  &:hover {
    background: rgba($color: #000000, $alpha: 0.6);
  }
}
.crud {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;

  button {
    border-radius: 1rem;
    &.btn.complete {
      color: #13c90f;
      background-color: rgb(255, 255, 255);
      border: 1px solid#13c90f;
      &:hover {
        color: white;
        background-color:#13c90f;
        border: 1px solid white;
      }
    }
    &.btn.incomplete {
      color: white;
      border: 1px solid white;
      background-color: #13c90f;
    }
    &.btn.delete {
      color: red;
      border: 1px solid red;
      background-color: white;
      &:hover {
        color: white;
        border: 1px solid white;
        background-color: red;
      }
    }
  }
}

/*******************tablets****************************/
@media screen and (max-width: $medium-screen) {
    .todo {
        &__wrapper {
         
          background: #ffffff url("../../assets/bg photo by kenza.jpg") right center/cover
          no-repeat;
          @include container(rgb(255, 255, 255));
          display: grid;
          grid-template-columns: 1fr;
          place-items: center;
          gap: 2rem;
          height: max-content;
          max-height: 50vh;
          width: 100%;
          padding: 1rem;
          overflow: scroll;
          scroll-behavior: smooth;
          scrollbar-width: none;
          animation: todoListAnim 1s ease 0s 1 normal forwards;
          z-index: 1000;
          & .todo__tasks {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            height: 100%;
           
          }
        }
      &__options{
        display: grid;
        grid-template-rows: 1fr;
        gap: 1rem;
        width: 80%;
        
      }}
}

/*********Small devices Mobile*********************/
@media screen and (max-width: $small-screen) {
    .todo {
        &__wrapper {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;
          height: max-content;
          max-height: 75%;
          width: 90%;
          padding: 1rem;
          overflow: scroll;
          scroll-behavior: smooth;
          scrollbar-width: none;
          animation: todoListAnim 1s cubic-bezier(0.32, 0, 0.67, 0) 0s 1 normal forwards;
          z-index: 1000;
          background: #ffffff url("../../assets/bg photo by kenza.jpg") bottom center/cover
          no-repeat;
          @include container(rgb(255, 255, 255));
        }
        &__tasks {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
        &__options {
          display: grid;
          grid-template-columns: auto 2fr;
          gap:0.3rem;
          align-items: center;
        }
        &_text {
          color: rgb(255, 255, 255);
          font-size: 0.9rem;
          font-weight: 300;
        }
        &_initial__message {
          display: inline;
          font-size: 1.1rem;
          text-align: center;
          color: rgba($color: #000000, $alpha: 0.6);
          margin-top: 2rem;
        }
      }

    .one__task {
        display: grid;
        grid-template-columns: 2fr auto;
        margin-top: 2rem;
        padding: 0.3rem;
        align-items: center;
        width: 100%;
        border-radius: 1rem;
        border: 1px solid $secondary-color;
        background: $secondary-color;;
        font-size: 1rem;
        &:hover {
          background: rgba($color:$fifth-color, $alpha: 0.9);
        }
      }
 
}
