@import "./styles/main";

.alltodo__App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem auto;
  height: 100%;
  width: 100%;
 
}
.title {
  margin-top: 1rem;
  animation: todoListAnim 0.5s ease 0s 1 normal forwards;
}
/*******************tablets**************
**************/
@media screen and (max-width: $medium-screen) {
 
  .alltodo__App {
    width: 100%;
    padding: 0.6rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
    height: 100%;
  }
  .title {
    margin-top: 1rem;
    animation: todoListAnim 0.5s ease 0s 1 normal forwards;
  }
}

/*********Small devices Mobile*********************/
@media screen and (max-width: $small-screen) {


  .alltodo__App {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   gap: 0.6rem;
  }
  .title {
    margin-top: 0.6rem;
  }
}
