
@import "./styles/main";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  
  background-color: $third-color;
  color: white;
  font-family: 'Poppins', sans-serif;
  background: url('../public/assets/todoapp-bg.jpg');
  background: #ffffff url('../public/assets/todoapp-bg2.jpg') center center/cover no-repeat;
  font-family: poppins;
  height: 100vh;

}
.alltodoApp{
padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1rem;

}
.title{
  margin-top: 1rem;
  animation:todoListAnim  0.5s ease 0s 1 normal forwards;
}
/*******************tablets****************************/
@media screen and ( max-width:$medium-screen) {
    
    

  
}

/*********Small devices Mobile*********************/
@media screen and (max-width:$small-screen) {
  .alltodoApp{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0rem;
   
    }
    .title{
      margin-top: 1rem;
      animation:todoListAnim  0.5s ease 0s 1 normal forwards;
    }
    
}