@import "../styles/main";
.widgets {
  display: grid;
  grid-template-rows: auto;
  padding: 0.5rem 25%;
  gap: 2rem;
  height: 70vh;

  button {
    display: block;
    width: fit-content;
    padding: 0.4rem;
  }
  & .widget {
    display: grid;
    place-items: center;
    height: 200px;
    width: 200px;
    border-radius: 1rem;
    background-color: rgb(240, 238, 236);
    @include shadows;
  }
}
/*******************tablets****************************/
@media screen and (max-width: $medium-screen) {
  .widgets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 20vh;
    width: auto;
    place-items: center;
    @include container(rgba(0, 0, 0, 0.3));
    button {
      display: block;
    }

    & .widget {
      display: grid;
      place-items: center;
      height: 6rem;
      width: 6rem;
      border-radius: 1rem;
      background-color: rgb(240, 238, 236);
      @include shadows;
    }
  }
}
/*******************PHones****************************/
@media screen and (max-width: $small-screen) {
  .widgets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 20vh;
    width: auto;
    place-items: center;
    @include container(rgba(0, 0, 0, 0.3));
  

    & .widget {
      display: grid;
      place-items: center;
      height: 6rem;
      width: 6rem;
      border-radius: 1rem;
      background-color:$primary-color;
      @include shadows;
    }
  }
}
